* { padding: 0; margin: 0; }

body {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 12px;
}
h1 {
 font-size: 88px;
}
h2 {
 font-size: 24px;
}
h3 {
 font-size: 18px;
}
h4 {
 font-size: 14px;
}
a {
 color: #BBCCEE;
}
#zero { 
 background-color: #112233;
 text-align: center;
 overflow: hidden
}
#one {
 width: 80%;
 color: #112233;
 padding: 20px;
 border: 4px ridge #335599;
 margin: 20px;
 background: #BBCCEE;
}
#two {
 width: 80%;
 color: #112233;
 padding: 20px;
 border: 4px ridge #335599;
 margin: 20px;
 background: #7788AA;
}
#three {
 width: 80%;
 color: #112233;
 padding: 20px;
 border: 4px ridge #335599;
 margin: 20px;
 background: #BBCCEE;
}
#one, #two, #three {
 position: relative;
 top: 0%;
 left: 50%;
 transform: translate(-50%, 0%);
}